* {
    padding: 0;
    margin: 0;
}

body {

    background-color: aqua;
}

h1, h3, p {

    text-align: center;
}

#startBoxParent {

    text-align: center;
}

#startBox {

    background-color: white;
    text-align: center;
    display: inline-block;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
}

#canvasHolder {

    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

#myCanvas {
    
    background-color: #ffffff;
    display: block;
    margin: 0 auto;
    border: 5px solid black;

}